 
 @font-face {
    font-family:"Schoolbell", cursive; ;
    src: url(https://fonts.googleapis.com/css?family=Schoolbell );
}
h1,h3 {
    font-family: 'Schoolbell', cursive;
}
.main{width:1000px;
	margin: 1% 10%;
position:absolute;
		background-color:#FE9A2E;
		padding:1em;
		}
		
		.box1, .box2 {
		width:23%;
		float:left;
	 display: inline-block;

		margin-bottom:2em;
		
		}
		.box1{ 
		background-color:#fff;}
		.box2 {margin-right:0.5em;
		background-color:#ccc;padding:10px;
		}
	 .btn{
	 background-color:#04B431;
	 color:#fff;
	 margin-bottom:2em;
	 padding:4px;
	 }
		.notificar {
    background-color: #59AADA;
    border-radius: 6px;
    border: 1px solid #60B4E5;
    color: #FFFFFF;
    display: block;
    font-weight: bold;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    text-shadow: 1px 1px 0 #145982;
    width: 180px;
    cursor: pointer;
}

.notificar:hover {
    background-color: #4a94bf;
}
#notificacion {
    background-color: #F2F2F2;
    background-repeat: no-repeat; /* lo utilizaremos cuando indiquemos el ícono */
    font-family: Helvetica;
    font-size: 20px;
    line-height: 30px;
    position: absolute;
    text-align: center;         
    width: 30%;
	height:100px;
    left: 35%; /* lo centramos */
    top: -100px; /* al principio estará oculto */        
}
.caritafeliz {
    background-image: url("../images/caritafeliz.png");
}

.caritapensar {
    background-image: url("../images/caritapensar.png");
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
.clearfix {
    display: block;
}
 